<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Doctors</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="styles.css">
    <style>
	table, th, td{
	   border: 1px solid black;
           border-collapse: collapse;
	}
    </style>
</head>
<body>
<h1>Result</h1>
<table>
    <tr>
	<th>Name</th>
	<th>Office Number</th>
	<th>Building Name</th>
    </tr>
    <tr th:each="oneResult : ${result}">
	<td th:text="${oneResult.fullName}"></td>
    	<td th:text="${oneResult.officeNo}"></td>
    	<td th:text="${oneResult.buildingName}"></td>
    </tr>
</table>
<a href="/index.html">Home</a>
    
</body>
</html>
