<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Currently Hospitalized Patients</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="styles.css">
    <style>
        table, th, td{
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<h1>Result</h1>
<table>
    <tr>
    <th>PID</th>
    <th>Name</th>
    <th>Number Of Expected Hospitalized Days</th>
    <th>Room Number</th>
    <th>Total Amount Due</th>
    </tr>
    <tr th:each="oneResult : ${result}">
        <td th:text="${oneResult.pid}"></td>
        <td th:text="${oneResult.fullName}"></td>
        <td th:text="${oneResult.remainDays}"></td>
        <td th:text="${oneResult.hospitalizedRoomNo}"></td>
        <td th:text="${oneResult.dueAmount}"></td>
    </tr>
</table>
<a href="/index.html">Home</a>

<script> </script>
</body>
</html>
