<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Updated Staff Information</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Staff Updated</h1>
    <p th:text="'Eid of the staff updated: ' + ${staff.eid}" />
    <p th:text="'First Name: ' + ${staff.firstName}" />
    <p th:text="'Last Name: ' + ${staff.lastName}" />
    <p th:text="'Salary: ' + ${staff.salary}" />
    <p th:text="'Department ID: ' + ${staff.departmentId}" />
    <p th:text="'Office Number: ' + ${staff.officeNo}" />
    <p th:text="'Job Title: ' + ${staff.jobTitle}" />
    <p th:text="'Gender: ' + ${staff.gender}" />
    <p th:text="'Contact Number: ' + ${staff.contactNumber}" />
    <a href="/updateStaff">Update another staff</a> <br>
    <a href="/index.html">Home</a>
</body>
</html>
