<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update A Treatment Record</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="styles.css">
</head>
<body>
	<h1>Updadte A Treatment Record</h1>
    <form action="#" th:action="@{/updateTreatmentRecord}" th:object="${treatmentRecord}" method="post">
        <p>Enter the appointment number for the treatment record you want to update: <input type="text"  oninput="this.value=this.value.replace(/[^0-9]/g,'');" th:field="*{aid}" required/></p>
        <p>Enter new Did: <input type="text"  oninput="this.value=this.value.replace(/[^0-9]/g,'');" th:field="*{did}"/></p>
        <p>Enter new Initial Hospitalized Date: <input id="datePickerId" type="date" th:field="*{initialHospitalizedDate}"> </p>
        <p>Enter new Expected Discharge Date: <input id="datePickerId" type="date" th:field="*{expectedDischargeDate}"> </p>
        <p>Enter new Discharge Date: <input id="datePickerId" type="date" th:field="*{dischargeDate}"> </p>
        <p>Enter new Hosptialized Room No: <input type="number" min="0" max="300" th:field="*{hospitalizedRoomNo}" /></p>
        <fieldset style="margin-left: -15px;">
 			<legend>Update Treatment Method</legend>
 			<input id="1" type="radio" name="treatmentMethod" value="Surgical Therapy" th:field="*{treatmentMethod}"> Surgical Therapy<br> 
 			<input id="2" type="radio" name="treatmentMethod" value="Medical Therapy" th:field="*{treatmentMethod}"> Medical Therapy<br>
 			<input id="3" type="radio" name="treatmentMethod" value="Physical Therapy" th:field="*{treatmentMethod}"> Physical Therapy<br>
 	</fieldset>
        
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
<script>
</script>
</body>
</html>
