<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update A Treatment Record</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="styles.css">
</head>
<body>
	<h1>Updadte A Treatment Record</h1>
    <form action="#" th:action="@{/updateTreatmentRecord}" th:object="${treatmentRecord}" method="post">
        <p>Enter the appointment number for the treatment record you want to update: <input type="text"  oninput="this.value=this.value.replace(/[^0-9]/g,'');" th:field="*{aid}" required/></p>
        <p>Enter new Did: <input type="text"  oninput="this.value=this.value.replace(/[^0-9]/g,'');" th:field="*{did}"/></p>
        <p>Enter new Initial Hospitalized Date: <input id="datePickerId" type="date" th:field="*{initialHospitalizedDate}"> </p>
        <p>Enter new Expected Discharge Date: <input id="datePickerId" type="date" th:field="*{expectedDischargeDate}"> </p>
        <p>Enter new Discharge Date: <input id="datePickerId" type="date" th:field="*{dischargeDate}"> </p>
        <p>Enter new Hosptialized Room No: <input type="number" min="1" max="300" th:field="*{hospitalizedRoomNo}" required/></p>
        <p>Enter new Treatment Method: <input type="text" th:field="*{treatmentMethod}"/></p>
        
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
<script>
</script>
</body>
</html>
